@media screen and (max-width: 576px) {
    .container{
        margin: 0;
    }
    .nav-container{
        margin-top: 10px;
        justify-content: space-between;
        padding: 10px;
    }
    .page-tittle{
        font-size: 25px;
        font-weight: 600;
    }
    nav ul{
        flex-direction: column;
        
    }
    nav ul li{
        text-align: right;
        padding: 0 0px;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
    }
    /* *******************************
**************Header**************
**********************************/
.brand-new-tittle{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.brand-info{
    margin-top: 18px;
    text-align: center;
    width: 95%;
    margin: 10px;
    font-size: 10px;
}
.explore-button{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
    background-color: #FF900E;
    margin: 15px 25%;
    border-radius: 8px;
}
.brand-img img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    padding: 5px;
}
/* <!-- grid image and details --> */
.grid-image-info{
    display: flex;
    margin: 0 60px;
    margin-top: 100px;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 0px;
    margin-bottom: 0;
}
.images img{
    width: 300px;
    height: 300px;
}
.grid-tittle{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 24px;
}
.grid-details{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    width: 300px;
}
.explore-button-two{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 5px;
    background-color: #FF900E;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    margin-top: 32px;
}
/* <!-- Features you will love and banner --> */
.image-writing-container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 0px;
    padding: 0 20px;
    margin: 100px 20px 0 20px;
}
.writing{
    width:90%;
    height: auto;
}
.writing-tittle{
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    height: 106px;
    width: 110%;
}
.writing-tittle-detail{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    margin-top: 14px;
    text-align: left;
}
.writing-side-banner img{
    width: 100%;
    height: auto;
}
.writing-lists{
    padding-left: 0px;
    margin-top: 40px;
}
.writing-list{
    margin-bottom: 30px;
    width: 300px;
    border-radius: 8px;
    text-align: center;

}
.writing-list-tittle{
    font-size: 18px;
    font-weight: 600;
}
.writing-list-details{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}
.experince-button{
    text-align: center;
    background-color: #FF900E;
    margin-left: 0px;
    padding: 10px 0px;
    margin-right: 0px;
    border-radius: 8px;
    position: relative;
    bottom: 90px;
    right: 0px;
    transform: scale(0.5);
}
/* some fact */
.some-fact-tittle{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 14px;
}
.some-fact-info{
    text-align: center;
    font-size: 12px;
    color: #727272;
    width: 342px;
    margin-left: 20px;
}
/*achivements */
.achivements{
    margin: 50px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.achivement{
    transition: 0.3s;
}
/* about-us */
.about-us-box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.about-us-banner img{
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 90px;
}
.about-us-container{
    position: relative;
    margin: 0 10px;
    bottom: 0px;
}
.about-us-tittle{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.about-us-info{
    font-size: 16px;
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: #727272;
}
/* footer part */
/* sponsers part */
.sponser-img{
    flex-direction: column;
    gap: 40px;
}
.sponser-img img{
    width: 100px;
}
/* copy-right */
.copy-right{
   border: 0%;
}
}
@media screen and (min-width:577px)and (max-width:992px) {
    .container{
        margin: 0;
    }
    .nav-container{
        margin-top: 10px;
        justify-content: space-between;
        padding: 10px;
    }
    .page-tittle{
        font-size: 25px;
        font-weight: 600;
    }

    nav ul li{
        text-align: right;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
    }
        /* *******************************
**************Header**************
**********************************/
.brand-new-tittle{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.brand-info{
    margin-top: 18px;
    text-align: center;
    width: 95%;
    margin: 10px;
    font-size: 10px;
}
.explore-button{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
    background-color: #FF900E;
    margin: 15px 25%;
    border-radius: 8px;
}
.brand-img img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    padding: 5px;
}
/* <!-- grid image and details --> */
.grid-image-info{
    display: flex;
    margin: 0 60px;
    margin-top: 100px;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 0;
}
.images img{
    width: 300px;
    height: 300px;
}
.grid-tittle{
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 24px;
}
.grid-details{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #727272;
    width: 600px;
}
.explore-button-two{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 5px;
    background-color: #FF900E;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 8px;
    margin-top: 32px;
}
/* <!-- Features you will love and banner --> */
.image-writing-container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 0px;
    padding: 0 20px;
    margin: 100px 20px 0 20px;
}
.writing{
    width:100%;
    height: auto;
}
.writing-tittle{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    height: 106px;
    width: 100%;
}
.writing-tittle-detail{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: #727272;
    margin-top: 14px;
}
.writing-side-banner img{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
}
.writing-lists{
    padding-left: 0px;
    margin-top: 40px;
}
.writing-list{
    margin-bottom: 50px;
    width: 100%;
    border-radius: 8px;
    text-align: center;

}
.writing-list-tittle{
    font-size: 28px;
    font-weight: 600;
}
.writing-list-details{
    font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.experince-button{
    text-align: center;
    background-color: #FF900E;
    margin-left: 0px;
    padding: 10px 0px;
    margin-right: 0px;
    border-radius: 8px;
    position: relative;
    bottom: 90px;
    right: 0px;
    transform: scale(0.5);
}
/* some fact */
.some-fact-tittle{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 14px;
}
.some-fact-info{
    text-align: center;
    font-size: 26px;
    color: #727272;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*achivements */
.achivements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.achivement{
    transition: 0.3s;
}
/* about-us */
.about-us-box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.about-us-banner img{
    width: 70%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 90px;
}
.about-us-container{
    position: relative;
    margin: 0 10px;
    bottom: 0px;
}
.about-us-tittle{
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.about-us-info{
    font-size: 20px;
    margin-top: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.sponser-img{
    gap: 40px;
}
.sponser-img img{
    width: 100px;
}
/* copy-right */
.copy-right{
   border: 0%;
}
}
@media screen and (min-width: 992px) and (max-width: 1440px) {
    .container{
        margin: 0;
    }
    .nav-container{
        margin-top: 10px;
        justify-content: space-between;
        padding: 10px;
    }
    .page-tittle{
        font-size: 25px;
        font-weight: 600;
    }

    nav ul li{
        text-align: right;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
    }
        /* *******************************
**************Header**************
**********************************/
.brand-new-tittle{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.brand-info{
    margin-top: 18px;
    width: 95%;
    width: 800px;
    font-size: 20px;
    color: #727272;
}
.explore-button{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
    background-color: #FF900E;
    margin: 15px 40%;
    border-radius: 8px;
}
.brand-img img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    padding: 5px;
}
/* <!-- grid image and details --> */
.grid-image-info{
    display: flex;
    margin: 0 60px;
    margin-top: 150px;
    gap: 7px;
    
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin-bottom: 0;
}
.images img{
    width: 200px;
    height: 200px;
}
.grid-tittle{
    font-size: 45px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 24px;
}
.grid-details{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    color: #727272;
    width: 500px;
}
.explore-button-two{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 5px;
    background-color: #FF900E;
    margin-right: 60px;
    margin-left: 60px;
    border-radius: 8px;
    margin-top: 32px;
}
/* <!-- Features you will love and banner --> */
.image-writing-container{
    display: flex;
    align-items: center;
    margin-top: 130px;
    gap: 0px;
    padding: 0 20px;
    margin: 100px 20px 0 20px;
}
.writing{
    width:100%;
    height: auto;
}
.writing-tittle{
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    height: 106px;
    width: 100%;
}
.writing-tittle-detail{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 14px;
}
.writing-side-banner img{
    width: 110%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
}
.writing-lists{
    padding-left: 0px;
    margin-top: 40px;
}
.writing-list{
    margin-bottom: 20px;
    width: 100%;
    border-radius: 8px;
    text-align:center;

}
.writing-list-tittle{
    font-size: 20px;
    font-weight: 600;
}
.writing-list-details{
    font-size: 14px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.experince-button{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #FF900E;
    width: 300px;
    padding: 10px 0px;
    position: relative;
    right: 170px;
    bottom: 150px;
    border-radius: 8px;
    transform: scale(0.5);
}
/* some fact */
.some-fact-tittle{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 14px;
}
.some-fact-info{
    text-align: center;
    font-size: 26px;
    color: #727272;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*achivements */
.achivements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.achivement{
    transition: 0.3s;
}
/* about-us */
.about-us-box{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}
.about-us-banner img{
    width: 70%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 90px;
}
.about-us-container{
    position: relative;
    margin: 0 10px;
    bottom: 0px;
}
.about-us-tittle{
    font-size: 45px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.about-us-info{
    font-size: 20px;
    margin-top: 10px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.sponser-img{
    gap: 40px;
}
.sponser-img img{
    width: 100px;
}
/* copy-right */
.copy-right{
   border: 0%;
}
}