@media screen and (max-width: 576px) {
    .container{
        margin: 0;
    }
    .nav-container{
        margin-top: 10px;
        justify-content: space-between;
        padding: 10px;
    }
    .page-tittle{
        font-size: 25px;
        font-weight: 600;
    }
    nav ul{
        flex-direction: column;
        
    }
    nav ul li{
        text-align: right;
        padding: 0 0px;
        font-size: 16px;
        font-weight: 500;
        list-style: none;
    }
    /* *******************************
**************Header**************
**********************************/
.brand-new-tittle{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.brand-info{
    margin-top: 18px;
    text-align: center;
    width: 95%;
    margin: 10px;
    font-size: 10px;
}
.explore-button{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 3px 10px;
    background-color: #FF900E;
    margin: 15px 25%;
    border-radius: 8px;
}
.brand-img img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    padding: 5px;
}
/* <!-- grid image and details --> */
.grid-image-info{
    display: flex;
    margin: 0 60px;
    margin-top: 100px;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 0px;
    margin-bottom: 0;
}
.images img{
    width: 300px;
    height: 300px;
}
.grid-tittle{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 24px;
}
.grid-details{
    font-weight: 400;
    font-size: 12px;
    color: #727272;
    width: 300px;
}
.explore-button-two{
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 2px 5px;
    background-color: #FF900E;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 8px;
    margin-top: 32px;
}
/* <!-- Features you will love and banner --> */
.image-writing-container{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
    gap: 0px;
    padding: 0 20px;
    margin: 100px 20px 0 20px;
}
.writing{
    width:90%;
    height: auto;
}
.writing-tittle{
    display: flex;
    align-items: center;
    gap: 11px;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 0;
    height: 106px;
    width: 110%;
}
.writing-tittle-detail{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
    margin-top: 14px;
    text-align: left;
}
.writing-side-banner img{
    width: 100%;
    height: auto;
}
.writing-lists{
    padding-left: 0px;
    margin-top: 40px;
}
.writing-list{
    margin-bottom: 30px;
    width: 300px;
    border-radius: 8px;
    text-align: center;

}
.writing-list-tittle{
    font-size: 18px;
    font-weight: 600;
}
.writing-list-details{
    font-size: 14px;
    font-weight: 400;
    color: #727272;
}
.experince-button{
    text-align: center;
    background-color: #FF900E;
    margin-left: 0px;
    padding: 10px 0px;
    margin-right: 0px;
    border-radius: 8px;
    position: relative;
    bottom: 90px;
    right: 0px;
    transform: scale(0.5);
}
}