/* common */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Open+Sans:ital@1&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');
*{
    /* <!-- fonts --> */
    font-family: 'Work Sans', sans-serif;
}

body{
    background-color: #FF900E1A;
}
.container{
    margin: 0 228px;
}

/* *******************************
************Top Nav Bar************
**********************************/
.nav-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-tittle{
    font-size: 35px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* *******************************
**************Header**************
**********************************/
.header{
    background-color: ;
}
.brand-new-tittle{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.brand-info{
    margin-top: 51px;
    text-align: center;
    width: 868px;
    margin-left: 120px;
    font-size: 16px;
}
.brand-img img{
    width: 100%;
    height: auto;
}
.explore-button{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    background-color: #FF900E;
    margin: 32px 412px 50px 412px;
    border-radius: 8px;
}
.explore-button a{
    text-decoration: none;
    color: white;
}
/* <!-- grid image and details --> */
.grid-image-info{
    display: flex;
    margin: 0 60px;
    margin-top: 100px;
    gap: 73px;
    align-items: center;
}
.images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    column-gap: 24px;
}
.images img{
    width: 230px;
    height: 230px;
}
.grid-tittle{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;
}
.grid-details{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    width: 500px;
}
.explore-button-two{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 25px;
    background-color: #FF900E;
    margin-right: 300px;
    border-radius: 8px;
    margin-top: 32px;
}
.explore-button-two a{
    text-decoration: none;
    color: white;
}
/* <!-- Features you will love and banner --> */
.image-writing-container{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.writing{
    width: 815px;
    height: auto;
}
.writing-tittle{
    display: flex;
    align-items: center;
    gap: 21px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0;
    height: 106px;
}
.writing-tittle-detail{
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-top: 24px;
}
.bar{
    height: 106px;
    width: 10px;
    background-color: #FF900E;
}
.writing-side-banner img{
    width: 120%;
    height: auto;

}
.writing-lists{
    padding-left: 33px;
    margin-top: 40px;
}
.writing-list{
    margin-bottom: 30px;
    width: 486px;
    border-radius: 8px;

}
.writing-list-tittle{
    font-size: 20px;
    font-weight: 600;
}
.writing-list-details{
    font-size: 15px;
    font-weight: 400;
    color: #727272;
}
/* <!-- experince button --> */
.experince-button{
    text-align: center;
    background-color: #FF900E;
    margin-left: 622px;
    padding: 18px 0px;
    margin-right: 200px;
    border-radius: 8px;
    position: relative;
    bottom: 150px;
    right: 50px;
}
.experince-button a{ 
    text-decoration: none;
    color: aliceblue;
}
.experience-tittle{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0;
}
.experience-experience{
    position: relative;
    top: -10px;
}