/* common */
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    margin: 0 228px;
}

/* *******************************
************Top Nav Bar************
**********************************/
.nav-container{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-tittle{
    font-size: 35px;
    font-weight: 700;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 0 30px;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/* *******************************
**************Header**************
**********************************/
.brand-new-tittle{
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}
.brand-info{
    margin-top: 51px;
    text-align: center;
    width: 868px;
    margin-left: 120px;
    font-size: 16px;
}
.brand-img img{
    width: 100%;
    height: auto;
}
.explore-button{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 25px;
    background-color: #FF900E;
    margin: 32px 412px 50px 412px;
    border-radius: 8px;
}
.explore-button a{
    text-decoration: none;
    color: white;
}